<style>
            body {
            margin: 0;
            padding: 0;
            }

            #header {
            top: 0;
            left:0;
            min-width: 100%;
            height: 20%;
            min-height: 20%;
            background-color: #999999;
            border: 2px solid #7A7A7A;
            padding: 0 0 0 10px;
            }
            #menu {
            position: absolute;
            float: left;
            width: 25%;
            min-width: 25%;
            height: 100%;
            min-height: 100%;
            background-color: #E0E0E0;
            }

            #main {
            position: absolute;
            float: right;
            margin-left:25%;
            height: 100%;
            min-height: 100%;
            }

            #list {
            width: 100%;
            min-width: 100%;

            height: 90%;
            min-height:90%;
            overflow: auto;
            position: relative;
            background-color:white;
            }

            #menu ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            min-width: auto;
            }

            #menu li a {
            display: block;
            color: #000;
            padding: 8px 0 8px 16px;
            text-decoration: none;
            }

            #menu li a:hover {
            background-color: #99CCFF;
            color: white;
            }

            #footer ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: auto;
            background-color: #A3A3A3;
            }

            #footer li {
            float: left;
            }

            #footer li a {
            color: #000;
            text-align: center;
            padding: 0 16px;
            }

            #footer li a:hover {
            color: white;
            background-color: #99CCFF;
            }
            .error {
            color: #ff0000;
            }
            .success {
            color: #99CCFF;
            }
</style>